<ion-header>
  <ion-toolbar>
    <ion-title>{{restaurant?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Scheda</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Località</h2>
            <p>{{restaurant?.address}} - {{restaurant?.city}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Paese</h2>
            <p>{{restaurant?.country}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Valutazione</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ratings-cnt">
      <ion-list>
        <ion-item>
          <ion-label class="font-bold"> Location </ion-label>
          <ion-label>
            <ionic-rating-component
              #rating
              activeColor="#488aff"
              defaultColor="#f4f4f4"
              halfStar="true"
              readonly="true"
              rating="{{restaurant?.ratings.location / 2}}"
              fontSize="22px"
            >
            </ionic-rating-component
          ></ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="font-bold"> Servizio </ion-label>
          <ion-label>
            <ionic-rating-component
              #rating
              activeColor="#488aff"
              defaultColor="#f4f4f4"
              halfStar="true"
              readonly="true"
              rating="{{restaurant?.ratings.service / 2}}"
              fontSize="22px"
            >
            </ionic-rating-component>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="font-bold"> Menù </ion-label>
          <ion-label>
            <ionic-rating-component
              #rating
              activeColor="#488aff"
              defaultColor="#f4f4f4"
              halfStar="true"
              readonly="true"
              rating="{{restaurant?.ratings.menu / 2}}"
              fontSize="22px"
            >
            </ionic-rating-component
          ></ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="font-bold"> Conto </ion-label>
          <ion-label>
            <ionic-rating-component
              #rating
              activeColor="#488aff"
              defaultColor="#f4f4f4"
              halfStar="true"
              readonly="true"
              rating="{{restaurant?.ratings.price / 2}}"
              fontSize="22px"
            >
            </ionic-rating-component>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Foto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let img of restaurant?.images">
          <img src="assets/img/{{img}}" />
        </ion-slide> </ion-slides
    ></ion-card-content>
  </ion-card>
</ion-content>
